@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
/*
Poppins-400
Poppins- 700
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  @apply text-gray-500;
}
